

{% extends 'layout.html' %}

{% load static %}

    {% block content %}

    {{ message }}
    
    <!-- Off-Canvas Wrapper-->
    <div class="offcanvas-wrapper">
      <!-- Page Title-->
      <div class="page-title">
        <div class="container">
          <div class="column">
            <h1> Регистрация Аккаунта</h1>
            {{error}}
          </div>
         
        </div>
      </div>
      <!-- Page Content-->
      <div class="container padding-bottom-3x mb-2">
        <div class="row">
          

          <div class="col-md-6">
            <div class="padding-top-3x hidden-md-up"></div>
            <h3 class="margin-bottom-1x">Регистрация</h3>
            
            <form class="row" method="POST">
                {% csrf_token %}
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-fn">Имя</label>
                  {{ form.username }}
                </div>
              </div>
             
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-fn">Отчество</label>
                  {{ form.first_name }}
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-fn">Фамилия</label>
                  {{ form.last_name }}
                </div>
              </div>
             

             
              
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-pass">Пароль</label>
                  {% comment %} <input class="form-control" type="password" id="reg-pass" required> {% endcomment %}
                  {{ form.password1 }}
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-pass-confirm">Подтвердите пароль</label>
                  {% comment %} <input class="form-control" type="password" id="reg-pass-confirm" required> {% endcomment %}
                  {{ form.password2 }}

                  
                </div>
              </div>

              <div class="col-12 text-center text-sm-right">
                <button class="btn btn-primary margin-bottom-none" type="submit">Зарегестрироваться</button>
              </div>
            </form>

          </div>
        </div>
      </div>
      <!-- Site Footer-->
    
    </div>


    {% endblock content %}